In [10]:
#Pandas DataFrame
import pandas as pd
data = {'Name':['srini', 'antony', 'mohan', 'benjimen'],
        'Age':[21, 20, 20, 20],
        'Address':['Chennai', 'vartharajpetai', 'Chennai', 'chennai'],
        'Qualification':['BCA', 'BCA', 'BCA', 'BCA'],
        'sales':['90%','80%','85%','85%']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
print(df[['Name','Qualification', 'Address','sales']])
df

       Name Qualification         Address sales
0     srini           BCA         Chennai   90%
1    antony           BCA  vartharajpetai   80%
2     mohan           BCA         Chennai   85%
3  benjimen           BCA         chennai   85%

       Name  Age         Address Qualification sales
0     srini   21         Chennai           BCA   90%
1    antony   20  vartharajpetai           BCA   80%
2     mohan   20         Chennai           BCA   85%
3  benjimen   20         chennai           BCA   85%